@import "tailwindcss";

@font-face {
  font-family: "Sauber";
  src: url("./assets/fonts/Sauber.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Neo Chic";
  src: url("./assets/fonts/neochic-regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Mosafin SemBd";
  src: url("./assets/fonts/mosafin-semibold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@layer utilities {
  .bg-gradient-primary {
    @apply bg-gradient-to-r from-[#d10000] to-[#ff0000] text-white transition-all duration-300 ease-in-out;
  }
  .bg-gradient-primary:hover {
    @apply from-[#ff0000] to-[#d10000];
  }
  .text-gradient {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-[#d10000] to-[#ff0000];
  }
  .emoji-drive {
    animation: driveBack 1s linear infinite;
  }
  .font-1 {
    font-family: "Mosafin SemBd";
  }

  .text-hide {
    opacity: 0;
  }
  .mask-drop {
    -webkit-mask: url("./assets/blood-drop.png") no-repeat center;
    mask: url("./assets/blood-drop.png") no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
  }
  .animate-wave {
    animation: waveMove 5s linear infinite;
  }
  .animate-rise {
    animation: rise 5s ease-in-out infinite;
  }
}

@keyframes rise {
  0%,
  100% {
    bottom: -40%;
  }
  50% {
    bottom: 0%;
  }
}

@keyframes driveBack {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-120px);
  }
}

@keyframes waveMove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-60%);
  }
}
