@import "tailwindcss";

@font-face {
  font-family: "Sauber";
  src: url("./assets/fonts/Sauber.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Neo Chic";
  src: url("./assets/fonts/neochic-regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Mosafin SemBd";
  src: url("./assets/fonts/mosafin-semibold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@layer utilities {
  .bg-gradient-primary {
    @apply bg-gradient-to-r from-[#d10000] to-[#ff0000] text-white transition-all duration-300 ease-in-out;
  }
  .bg-gradient-primary:hover {
    @apply from-[#ff0000] to-[#d10000];
  }
  .text-gradient {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-[#d10000] to-[#ff0000];
  }
  .emoji-drive {
    animation: driveBack 1s linear infinite;
  }
  .font-1 {
    font-family: "Mosafin SemBd";
  }

  .text-hide {
    opacity: 0;
  }
  .blood-loader {
    width: 60px;
    height: 80px;
    background: linear-gradient(#dc1818 0 0) bottom / 100% 0% no-repeat #ccc;
    clip-path: path("M30 0 C10 30, 0 50, 30 80 C60 50, 50 30, 30 0 Z");
    animation: fill-blood 2s infinite ease-in-out;
  }
}

/* CSS */

@keyframes fill-blood {
  0% {
    background-size: 100% 0%;
  }
  90%,
  100% {
    background-size: 100% 100%;
  }
}

@keyframes driveBack {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-120px);
  }
}
